@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox--selected {
    border-top: 14px solid greenyellow;
}

.infoBox--red {
    border-color: #ff0000;
}

.infoBox__title {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    /* background-color: #10cc3980; */
}

.infoBox__cases--green {
    color: lightgreen !important;
}

